<div class="container"><div class="page-header"><h1>Download <small></small></h1></div><h3>Bower</h3><p>Install with bower</p><pre data-code-prettify="">bower install angular-chess</pre><p>Add some <code>&lt;script&gt;</code> to your index.html:</p><pre data-code-prettify="">
&lt;script src="/bower_components/angular-chessboard/angular-chessboard.js"&gt;
&lt;/script&gt;
&lt;script src="/bower_components/angular-chess/angular-chess.js"&gt;
&lt;/script&gt;</pre><h3>Development</h3><p><a class="btn btn-default" href="https://github.com/theborakompanioni/angular-chess"><i class="fa fa-fw fa-github"></i> View on Github</a> <a data-download-button=""></a></p></div>