<div class="well well-sm"><div class="row"><div class="col-xs-10 col-sm-8 col-md-6 col-lg-4"><div data-test-chessboard=""></div></div><div class="col-xs-10 col-sm-8 col-md-6 col-lg-4"><div data-test-chessboard=""></div></div></div></div><!-- <div class="well well-sm">
	<div class="row">
		<div class="col-xs-12">
			<div id="board1" style="width: 400px"></div>
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function() {
  var board1 = new ChessBoard('board1', {
    draggable: true,
    dropOffBoard: 'trash',
    sparePieces: true,
    position: 'start',
    pieceTheme: '/images/chessboardjs/img/chesspieces/wikipedia/{piece}.png',
  });
});

</script> -->