<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400'
	rel='stylesheet' type='text/css'>

<link rel="stylesheet"
	href="../bower_components/chessboard.js/css/chessboard.css" />
<link rel="stylesheet" href="styles/main.css">
</head>
<body data-ng-app="nywton.chess.app" data-ng-controlloer="BodyCtrl">
	<div class="container">

		<div class="cf">
			<h3>standard chessgame</h3>
			<div class="example board board-sm">
				<nywton-chessgame game="game" board="board"></nywton-chessgame>
				<div data-chessgame-debug="game"></div>
			</div>
		</div>

		<div class="cf">
			<h3>allow only legal moves</h3>
			<div class="example board board-sm">
				<nywton-chessboard board="boardB" position="'start'"
					draggable="true" data-nywton-allow-only-legal-moves></nywton-chessboard>
			</div>
		</div>

		<div class="cf">
			<h3>chessboard random vs random</h3>
			<button data-ng-click="_hideBoardA = !_hideBoardA">destory</button>
			<div class="example board board-sm" data-ng-if="!_hideBoardA">
				<nywton-chessgame game="gameA" board="boardA"
					data-nywton-random-vs-random></nywton-chessgame>
			</div>
		</div>

		<div class="footer">
			<p>
				<small>angular-chess</small>
			</p>
		</div>
	</div>

	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/chessboard.js/js/chessboard.js"></script>
	<script src="../bower_components/chess.js/chess.js"></script>
	<script
		src="../bower_components/angular-chessboard/angular-chessboard.js"></script>
	<script src="../src/angular-chess.js"></script>

	<script src="scripts/app.js"></script>

</body>
</html>
