<div data-chess-example="Position object"><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-board="board" data-position="{
          d6: 'bK',
          d4: 'wP',
          e4: 'wK'
        }"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board"
  data-position="{
    d6: 'bK',
    d4: 'wP',
    e4: 'wK'
  }"
&gt;&lt;/nywton-chessboard&gt;</pre></div></div><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-board="board" data-position="{
          'g2': 'wP',
          'a8': 'bR',
          'b7': 'bB',
          'b8': 'bN',
          'd6': 'bB',
          'b6': 'bQ',
          'a6': 'bP',
          'c4': 'bP',
          'f8': 'bK',
          'h8': 'bR',
          'h7': 'bP',
          'f6': 'bP',
          'c1': 'wK',
          'a2': 'wP',
          'b2': 'wP',
          'c2': 'wP',
          'c3': 'wN',
          'e5': 'wP',
          'e6': 'wQ',
          'g5': 'wB',
          'h2': 'wP'
        }"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board"
  data-position="{
    'g2': 'wP',
    'a8': 'bR',
    'b7': 'bB',
    'b8': 'bN',
    'd6': 'bB',
    'b6': 'bQ',
    'a6': 'bP',
    'c4': 'bP',
    'f8': 'bK',
    'h8': 'bR',
    'h7': 'bP',
    'f6': 'bP',
    'c1': 'wK',
    'a2': 'wP',
    'b2': 'wP',
    'c2': 'wP',
    'c3': 'wN',
    'e5': 'wP',
    'e6': 'wQ',
    'g5': 'wB',
    'h2': 'wP'
  }"
&gt;&lt;/nywton-chessboard&gt;</pre></div></div></div>