<div data-chess-example="Drop off board"><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-board="boardA" data-drop-off-board="'trash'" data-draggable="true"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board"
  data-drop-off-board="'trash'"
  data-draggable="true"
&gt;&lt;/nywton-chessboard&gt;</pre></div></div><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-board="boardB" data-drop-off-board="'snapback'" data-draggable="true"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board"  
  data-drop-off-board="'snapback'"
  data-draggable="true"
&gt;&lt;/nywton-chessboard&gt;</pre></div></div><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-board="boardC" data-drop-off-board="'snapback'" data-draggable="true" data-move-speed="'slow'" data-snapback-speed="1000" data-snap-speed="100"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board"
  data-drop-off-board="'snapback'" 
  data-draggable="true"
  data-move-speed="'slow'" 
  data-snapback-speed="1000"
  data-snap-speed="100"
&gt;&lt;/nywton-chessboard&gt;</pre></div></div></div>