<div data-chess-example="Orientation"><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-board="boardA" data-orientation="'black'"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board" 
  data-orientation="'black'"
&gt;&lt;/nywton-chessboard&gt;</pre></div></div><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-board="boardB" data-orientation="'white'"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board" 
  data-orientation="'white'"
&gt;&lt;/nywton-chessboard&gt;</pre></div></div></div>