<div data-chess-example="Spare pieces"><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-board="boardA" data-spare-pieces="true" data-position="'empty'" drop-off-board="'trash'"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><div class="row"><div class="col-xs-12"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board"
  data-spare-pieces="true"
  data-position="'empty'" 
  data-drop-off-board="'trash'"
&gt;&lt;/nywton-chessboard&gt;</pre></div><div class="col-xs-12"><h5><code>boardA.position()</code></h5><pre>{{ boardA.position() | json }}</pre></div></div></div></div></div>