<div data-chess-example="Autoresize"><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-board="boardA" data-draggable="true" data-position="'start'" data-nywton-chessboard-autoresize=""></nywton-chessboard></div><div class="col-sm-8 col-md-9"><div class="row"><div class="col-xs-12"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board" 
  data-draggable="true"
  data-position="'start'" 
  data-nywton-chessboard-autoresize
&gt;&lt;/nywton-chessboard&gt;</pre></div><div class="col-xs-12"><h6>Description</h6><p>Binds a callback to the <code>'resize'</code> event and invokes chessboards <code>resize()</code> function accordingly.</p><p>Resize the window to try it.</p></div></div></div></div></div>