<div data-chess-example="Ruy Lopez"><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-name="Ruy Lopez" data-board="boardA" data-position="'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R'"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board"
  data-position="'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R'"
&gt;&lt;/nywton-chessboard&gt;</pre></div></div><div class="row"><div class="col-sm-4 col-md-3"><nywton-chessboard data-name="Ruy Lopez Directive" data-board="boardB" data-nywton-position-ruy-lopez="" data-draggable="false"></nywton-chessboard></div><div class="col-sm-8 col-md-9"><pre data-code-prettify="">
&lt;nywton-chessboard 
  data-board="board"
  data-draggable="false"
  data-nywton-position-ruy-lopez
&gt;&lt;/nywton-chessboard&gt;</pre></div></div></div>